In [1]:
import pandas as pd
import glob
import os

In [2]:
directory_path = './NE Dataset'

In [3]:
pattern = '*.csv'

In [4]:
files = glob.glob(os.path.join(directory_path, pattern))

In [5]:
for file in files:
    print(os.path.basename(file))

val_dti.csv
drug_attr.csv
train_ddi.csv
test_dti.csv
train_ppi.csv
train_dti.csv
protein_attr.csv

# exploring the drug attr

In [6]:
file_path = './NE Dataset/drug_attr.csv'

In [7]:
df = pd.read_csv(file_path)

/tmp/ipykernel_3866370/2618208116.py:1: DtypeWarning: Columns (663,786,787,832,835,869,905,906,951,954,988,1146,1411) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [8]:
# this dtypewaring is concerning as these columns have missing values. I will find latter what to do with this

In [8]:
df

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445
0,0,DB01356,0,0.0000,0.000000,0.0000,24.300000,0,0,1,...,7.016005,1.000000,1.000000,1.000000,0.000000,0.0,0.0,0,0.000,0
1,1,DB06757,0,0.0000,0.000000,0.0000,9.400000,0,0,1,...,54.938045,1.000000,1.000000,1.000000,0.000000,0.0,0.0,0,0.000,0
2,2,DB01370,0,0.0000,0.000000,0.0000,6.800000,0,0,1,...,26.981539,1.000000,1.000000,1.000000,0.000000,0.0,0.0,0,0.000,0
3,3,DB00435,0,-0.1269,0.016104,2.2429,2.568793,0,0,3,...,10.335271,3.000000,1.500000,4.000000,2.000000,2.0,1.0,0,0.028,2
4,4,DB03166,1,-0.2299,0.052854,12.6437,7.791172,0,0,8,...,7.502641,6.732051,1.683013,4.488034,4.488034,0.0,9.0,0,-0.080,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1477,1477,DB00104,0,0.0000,0.000000,0.0000,0.000000,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0,0.000,0
1478,1478,DB00569,0,0.0000,0.000000,0.0000,0.000000,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0,0.000,0
1479,1479,DB00093,0,0.0000,0.000000,0.0000,0.000000,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0,0.000,0
1480,1480,DB09067,0,0.0000,0.000000,0.0000,0.000000,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0,0.000,0
1481,1481,DB00200,0,0.0000,0.000000,0.0000,0.000000,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0,0.000,0

In [10]:
column_names = df.columns
column_names_list = list(column_names)

In [11]:
# find the total number of drugs
drugs = df['1'].to_list()
len(drugs)

1482

In [12]:
# find the length of feature vector size
featureVectorLength = len(column_names_list) - 2
print(featureVectorLength)

1444

# exploring the protein att

In [13]:
file_path = './NE Dataset/protein_attr.csv'

In [14]:
df = pd.read_csv(file_path)

In [15]:
df

,Unnamed: 0,#,A,C,D,E,F,G,H,I,...,g7.g1.g1.gap0,g7.g1.g2.gap0,g7.g1.g3.gap0,g7.g2.g1.gap0,g7.g2.g2.gap0,g7.g2.g3.gap0,g7.g2.g4.gap0,g7.g3.g1.gap0,g7.g3.g2.gap0,g7.g3.g3.gap0
0,0,P19113,0.075529,0.028701,0.051360,0.054381,0.049849,0.057402,0.027190,0.046828,...,0.0000,0.200000,0.200000,0.100000,0.100000,0.300000,0.100000,0.100000,0.000000,0.200000
1,1,Q9UI32,0.083056,0.026578,0.051495,0.058140,0.044850,0.076412,0.038206,0.034884,...,0.0000,0.000000,0.222222,0.000000,0.222222,0.111111,0.111111,0.222222,0.000000,0.111111
2,2,P00488,0.050546,0.012295,0.064208,0.065574,0.043716,0.068306,0.019126,0.051913,...,0.0000,0.071429,0.000000,0.142857,0.000000,0.071429,0.071429,0.000000,0.000000,0.000000
3,3,P35228,0.062446,0.023417,0.045100,0.065915,0.044232,0.058977,0.034692,0.035559,...,0.0000,0.153846,0.076923,0.461538,0.153846,0.000000,0.076923,0.000000,0.153846,0.153846
4,4,P11766,0.090909,0.040107,0.037433,0.069519,0.037433,0.106952,0.018717,0.074866,...,0.0625,0.062500,0.000000,0.062500,0.125000,0.000000,0.125000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403,1403,O60779,0.090543,0.020121,0.022133,0.040241,0.056338,0.054326,0.006036,0.058350,...,0.0000,0.000000,0.187500,0.000000,0.000000,0.000000,0.000000,0.062500,0.000000,0.062500
1404,1404,Q9HAW8,0.069811,0.026415,0.043396,0.052830,0.056604,0.056604,0.041509,0.043396,...,0.0000,0.181818,0.090909,0.181818,0.090909,0.000000,0.000000,0.090909,0.000000,0.000000
1405,1405,P12271,0.072555,0.012618,0.044164,0.110410,0.075710,0.059937,0.015773,0.041009,...,0.0000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.166667,0.000000
1406,1406,P35790,0.061269,0.017505,0.032823,0.094092,0.056893,0.063457,0.017505,0.043764,...,0.0000,0.000000,0.043478,0.000000,0.000000,0.000000,0.000000,0.043478,0.043478,0.000000
1407,1407,P62158,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [16]:
# find the total number of protein/target
proteins = df['#'].to_list()
len(proteins)

1408

In [17]:
# find the number of feature vector size
num_columns = df.shape[1]
featureVectorLength = num_columns - 2
print(featureVectorLength)

4159

# exploring the drug target interaction

In [18]:
file_path = './NE Dataset/train_dti.csv'

In [19]:
df = pd.read_csv(file_path)

In [20]:
df

      Unnamed: 0     Drug  Target  Label
0              0  DB00978  P05177      1
1              1  DB00627  Q8N695      1
2              2  DB00515  P47989      1
3              3  DB01030  P08684      1
4              4  DB01129  P05177      1
...          ...      ...     ...    ...
4737        4737  DB09047  P18089      0
4738        4738  DB00145  O75493      0
4739        4739  DB00499  P09211      0
4740        4740  DB09079  O14764      0
4741        4741  DB00435  P41595      0

[4742 rows x 4 columns]

In [20]:
# printing the qnique number of drugs and proteins
drugs = df['Drug'].to_list()
setOfDrugs = set(drugs)
print(f'Qnique number of drugs:    {len(setOfDrugs)}')
proteins = df['Target'].to_list()
setOfProteins = set(proteins)
print(f'Qnique number of proteins: {len(setOfProteins)}')

Qnique number of drugs:    969
Qnique number of proteins: 657

In [21]:
# find the positive and negative samples
posneg = df['Label'].value_counts()
print(posneg)

1    2371
0    2371
Name: Label, dtype: int64

In [22]:
2371 * 2

4742

# explore drug drug similarity network

In [20]:
file_path = './NE Dataset/train_ddi.csv'

In [21]:
df = pd.read_csv(file_path)

In [22]:
df

        Unnamed: 0 Connection_type     Drug   Target
0          4809602         Drug_mf  DB00006  DB00014
1          4809604         Drug_mf  DB00006  DB00035
2          4809605         Drug_mf  DB00006  DB00050
3          4809608         Drug_mf  DB00006  DB00091
4          4809609         Drug_mf  DB00006  DB00104
...            ...             ...      ...      ...
967796     6842386        Drug_ddi  DB00909  DB01198
967797     6842388        Drug_ddi  DB00909  DB01624
967798     6842390        Drug_ddi  DB01198  DB01624
967799     6842391        Drug_ddi  DB01198  DB01440
967800     6842394        Drug_ddi  DB01624  DB01440

[967801 rows x 4 columns]

In [23]:
# I will find how many directed edges are here.
check_dict = {}
for i in range(967801):
    first = df['Drug'][i]
    second = df['Target'][i]
    key = (first, second)
    if key in check_dict.keys():
        check_dict[key] += 1
    else:
        check_dict[key] = 1
        
directedCount = 0
for i in range(967801):
    first = df['Drug'][i]
    Second = df['Target'][i]
    revKey = (second, first)
    if revKey in check_dict.keys():
        continue
    else:
        directedCount += 1

print(f"Number of directed edges present in the Drug Drug Similarity Network is: {directedCount}")

Number of directed edges present in the Drug Drug Similarity Network is: 947841

# exploring the target target similarity network

In [24]:
file_path = './NE Dataset/train_ppi.csv'

In [25]:
df = pd.read_csv(file_path)

In [26]:
df

         Unnamed: 0 Connection_type    Drug  Target
0              1754             AAC  P19113  Q9UI32
1              1755             AAC  P19113  P00488
2              1756             AAC  P19113  P35228
3              1759             AAC  P19113  P48728
4              1761             AAC  P19113  Q9P0X4
...             ...             ...     ...     ...
1276987     4773107        prot_seq  Q8WUI4  Q16760
1276988     4807623        prot_seq  Q8N142  Q16760
1276989     4808484        prot_seq  P41231  Q99624
1276990     4809201        prot_seq  Q16760  P49619
1276991     4809220        prot_seq  Q16760  Q8TED1

[1276992 rows x 4 columns]

In [27]:
# I will find how many directed edges are here.
check_dict = {}
for i in range(967801):
    first = df['Drug'][i]
    second = df['Target'][i]
    key = (first, second)
    if key in check_dict.keys():
        check_dict[key] += 1
    else:
        check_dict[key] = 1
        
directedCount = 0
for i in range(967801):
    first = df['Drug'][i]
    Second = df['Target'][i]
    revKey = (second, first)
    if revKey in check_dict.keys():
        continue
    else:
        directedCount += 1

print(f"Number of directed edges present in the Target Target Similarity Network is: {directedCount}")

Number of directed edges present in the Target Target Similarity Network is: 731060

## explore validation set drug target interaction

In [23]:
file_path = './NE Dataset/val_dti.csv'

In [24]:
df = pd.read_csv(file_path)

In [25]:
df

     Unnamed: 0     Drug  Target  Label
0             0  DB01567  A8MPY1      1
1             1  DB01092  P46721      1
2             2  DB00281  P10632      1
3             3  DB01120  P15692      1
4             4  DB08896  Q9UNQ0      1
..          ...      ...     ...    ...
943         943  DB01559  P30542      0
944         944  DB01336  P08183      0
945         945  DB00451  P21397      0
946         946  DB01410  P08684      0
947         947  DB00543  Q08188      0

[948 rows x 4 columns]

In [26]:
# find the positive and negative samples
posneg = df['Label'].value_counts()
print(posneg)

1    474
0    474
Name: Label, dtype: int64

In [3]:
474 * 2

948

## explore test set drug target interaction

In [27]:
file_path = './NE Dataset/test_dti.csv'

In [28]:
df = pd.read_csv(file_path)

In [29]:
df

      Unnamed: 0     Drug  Target  Label
0              0  DB00586  O43526      1
1              1  DB00461  P05177      1
2              2  DB01151  P11509      1
3              3  DB00316  P35354      1
4              4  DB06737  P16662      1
...          ...      ...     ...    ...
2209        2209  DB00398  P48549      0
2210        2210  DB01104  P02768      0
2211        2211  DB00898  O15554      0
2212        2212  DB01238  P02763      0
2213        2213  DB00458  P08183      0

[2214 rows x 4 columns]

In [30]:
# find the positive and negative samples
posneg = df['Label'].value_counts()
print(posneg)

1    1107
0    1107
Name: Label, dtype: int64

In [4]:
1107 * 2

2214